<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Testing api on http1 vs http2</title>
</head>
<body>
<script>
    var index = 0;
    var limit=100;
    while(index < 2000){
        fetch("https://127.0.0.1:8080/v1/getdata?limit=100&offset="+index, {
            method: "GET",
            credentials: "omit", // include, *same-origin, omit
            headers: {
                "Referer": "no-referrer",
                "Access-Control-Allow-Origin" :"https://127.0.0.1",
                "Content-Type": "application/json"
            }
        }).then((response) => {
            return response.json();
        }).then( (data) => {
            data.forEach(element => {
                document.write("<tr>"+ element.id+"</tr></br>");
            });

        })
        index+=limit;
    }
</script>
<table>
    <thead>Data table </thead>

</table>
</body>
</html>